@font-face {
    font-family: 'Istok web';
    src: url(font/Istok_Web/IstokWeb-Regular.ttf);
}

@font-face {
    font-family: 'Istok web';
    src: url(font/Istok_Web/IstokWeb-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(font/Poppins/Poppins-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url(font/Poppins/Poppins-ExtraBold.ttf);
    font-weight: 700;
}


:root {
    --primary-color: #013456;
    --accent-color: #FFD233;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

